.free-scan {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .free-scan .free-overlap-group-wrapper {
    background-color: #ffffff;
    height: 650px;
    overflow: hidden;
    width: 1336px;
  }
  
  .free-scan .free-overlap-group {
    background-color: #e3f8fd;
    height: 566px;
    position: relative;
    top: 104px;
    width: 1348px;
  }
  
  .free-scan .free-qr {
    height: 319px;
    left: 217px;
    object-fit: cover;
    position: absolute;
    top: 156px;
    width: 341px;
  }
  
  .free-scan .free-text-wrapper {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 26px;
    font-weight: 400;
    left: 592px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 77px;
    width: 403px;
  }
  
  .free-scan .free-pngwing {
    height: 61px;
    left: 592px;
    object-fit: cover;
    position: absolute;
    top: 414px;
    width: 180px;
  }
.free-bank1{
  height: 20px;
  width: 50px;
  left: 600px;
  top: 445px;
  position: absolute;
}
.free-bank2{
  height: 30px;
  width: 70px;
  left: 750px;
  top: 445px;
  position: absolute;
}
.free-bank3{
  height: 30px;
  width: 70px;
  left: 900px;
  top: 445px;
  position: absolute;
}